{% extends 'basecontact.html' %}
{% load i18n %}
{% block title %} {% trans 'Create Order' %}{% endblock title %}
{% block content %}
{% load static %}
<!-- Contact Info -->
<div class="contact_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">
                    {% for item in cart %}
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
                        <div class="contact_info_image"><img src="{% static 'images/item.jpeg' %}" alt=""></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">{{ item.quantity }} {% trans 'piece' %}{{ item.quantity|pluralize }} {% trans 'of' %} {{ item.product.name }}</div>
                            <div class="contact_info_text">${{ item.total_price|floatformat:"2" }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if cart.coupon %}
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start center">
                        <div class="contact_info_image"><img src="{% static 'images/item.jpeg' %}" alt=""></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">"{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% {% trans 'off' %})</div>
                            <div class="contact_info_text">- ${{ cart.get_discount|floatformat:"2" }}</div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="contact_info_item d-flex flex-row align-items-center justify-content-start center">
                        <div class="contact_info_image"><img src="{% static 'images/item.jpeg' %}" alt=""></div>
                        <div class="contact_info_content">
                            <div class="contact_info_title">{% trans 'Total' %}</div>
                            <div class="contact_info_text">${{ cart.get_total_price_after_discount|floatformat:"2" }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_form">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="contact_form_container">
						<div class="contact_form_title" style="text-align:center;">{% trans 'Order Response' %}</div>
						<h1>{% trans 'Thank you' %}</h1>
  <p>{% trans 'Your order has been successfully completed. Your order number is' %} <strong>{{ order.id }}</strong>.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel"></div>
	</div>

{% endblock content %}